<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="9999999"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="999999999"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="conexion1"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=Desa2008\internet; Persist Security Info=false; User ID=MDENAPROCE.Owner; Password=Proce.08Des" />
    <add name="conexion2"
       providerName="System.Data.ProviderName"
       connectionString="Data Source=Desa2008\internet; Persist Security Info=false; User ID=Sistema_DSC.Owner; Password=S_d5c.0d" />

    <add name="conexion3"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=Desa2008\internet; Persist Security Info=false; User ID=MDENEC.Owner; Password=wD3neC.0" />
  </connectionStrings>
</configuration>